.container-fluid {
	height: 100vh;
	font-family: 'Roboto', sans-serif;
}

.bar {
	
	height: 1vh;
	background-color: #112d4e;
}

.logo {
	height: 25vh;
	padding: 0px;
	margin: auto;
	display:flex;
	justify-content:center;
	align-items:center;
	text-transform: uppercase;
	background-image: url("../images/other/dot-grid.png");
}

.logo img {
	height: 20vh;
}

.navbar {
	height: 5vh;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 300;
}
.right {
	height: 5vh;
	text-transform: uppercase;
	letter-spacing: 2px;
 	justify-content: right;
 	margin-bottom: 2vh;
}
.nav-link {
	color: #112d4e;
}

.content {
	height: 100vh;
	background-color: #f6f6f6;
}

.title {
	margin: auto;
	text-align: center;
	font-size: 5vh;
	text-transform: uppercase;
	letter-spacing: 3px;
	border-bottom: 1px solid #112d4e;
	font-weight: 700;
	padding: 3vh;
	padding-bottom: 1vh;
}

.bookImg {
	margin-top: 2vh;
	height: 35vh;
	position: relative;
}

.bookImg .imageLink {
	height: 35vh;
	display: block;
	opacity: 1;
	position: absolute;
	width: 90%;
	top: 0px;
	opacity:0;
	background-color: #f9f7f7;
	transition: all 0.5s ease-in-out;
}

.bookImg .imageLink:hover {
	opacity: 0.6;
}

.content img {
	height: 100%;
	left: 0px;
	top: 0px;
	position: relative;
	width: 100%;
	display:block;
}

.authorInfo {
	color: #112d4e;
	margin-bottom: 15px;
	padding: 0px;
	margin: auto;
	width: 88%;
}

.authorInfo h2 {
	color: #112d4e;	
	margin: 0px;
	padding-bottom: 3px;
	font-size: 20px;
	overflow:hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
	display: block; 
}


.pagination {
	justify-content: center;
	margin-top: 1.5vh;
	
}

.footer {
	height: 10vh;
	background-color: #f6f6f6;
	display:flex;
	justify-content:center;
	align-items:center;
	font-size: 2vh;
	font-weight: 300;
}

.footer i {
	font-size: 3vh;
	color: #112d4e;
	margin-right: 5vh;
	margin-left: 5vh;
}

.footer i:hover {
	cursor: pointer;
	color: green;
}


