.container-fluid {
	font-family: 'Roboto', sans-serif;
}

.bar {
	
	height: 1vh;
	background-color: #112d4e;
}

.navbar {
	height: 5vh;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 300;
}
.right {
	height: 5vh;
	text-transform: uppercase;
	letter-spacing: 2px;
 	justify-content: right;
 	margin-bottom: 2vh;
}
.nav-link {
	color: #112d4e;
}

.bookCard {
	background-color: white;
	height: 73vh;
	margin: 0;
	position: absolute;
	margin-top: 5vh;
}

.bookName {
	background-color: #112d4e;
	color: white;
	height: 15vh;
	display:flex;
	justify-content:center;
	align-items:center;
	text-transform: uppercase;
	margin-top: 4vh;
}

.bookInfo {
	padding: 0;
	margin-top: 1vh;
}

.bookInfo .link {
	text-decoration: none;
	color: #112d4e;
}

.bookInfo .link:hover {
	opacity: 0.6;
}

.bookInfo p {
	height: 32vh;
	overflow-y:scroll; overflow-x:hidden; 
	font-weight: 300;
}

.bookTitle {
	font-weight: 500;
}

.image {
	height: 30vh;
	position: relative;
}

.image img{
	height: 30vh;
	position: relative;
}

.image .imageLink {
	height: 35vh;
	display: block;
	position: absolute;
	width: 90%;
	top: 0px;
	opacity:0;
	background-color: #f9f7f7;
	transition: all 0.5s ease-in-out;
}

.image .imageLink:hover {
	opacity: 0.6;
}

h1  {
	font-weight: 500;
	letter-spacing: 2px;
}

h2 {
	font-weight: 300;
	display:inline-block;
}

h3 {
	font-weight: 300;
}

h4 {
	font-weight: 300;
}

.leftSide  {
	height: 65vh;	
}

.content {
	height: 83vh;
	background-color: #f6f6f6;
	display: flex;
	justify-content: center;
}

.title {
	margin: auto;
	text-align: center;
	font-size: 5vh;
	text-transform: uppercase;
	letter-spacing: 3px;
	border-bottom: 1px solid #112d4e;
	font-weight: 700;
	padding: 3vh;
	padding-bottom: 1vh;
}
.content img {
	height: 100%;
	left: 0px;
	top: 0px;
	position: relative;
	width: 100%;
	display:block;
	margin-top: 4vh;
}

ul {
	padding:0px;
	text-align: center;
}

ul li {
	display: inline-block;
}


input[type="radio"] {
	display: none;
}

label {
	display: inline-block;
	cursor: pointer;
	width: 3.5vh;
	
}
 label::before {
	content: "\f005";
	font-family: "Font Awesome 5 Free";
	color:  #112d4e;
	font-size: 20px;
	position:relative;
	display:block;
}


label::after {
	content: "\f005";
	font-family: "Font Awesome 5 Free";
	color: #112d4e;
	font-weight: 900;
	font-size: 20px;
	display: block;
	position: absolute;
	top: 0px;
	opacity: 0;
	width: 3.5vh;
} 

label:hover:after,
label:hover ~ label:after,
input:checked ~ label:after {
	opacity: 1;
}

.footer {
	height: 10vh;
	background-color: #f6f6f6;
	display:flex;
	justify-content:center;
	align-items:center;
	font-size: 2vh;
	font-weight: 300;
}

.footer i {
	font-size: 3vh;
	color: #112d4e;
	margin-right: 5vh;
	margin-left: 5vh;
}

.footer i:hover {
	cursor: pointer;
	color: green;
}


