/* ESSENTIAL */
.container {
	background-color: #f9f7f7;
	font-family: 'Roboto', sans-serif;
	height: 100vh;
	padding: 0px;
}
/* END ESSENTIAL */

.link:hover {
	text-decoration: none;
	color: #112d4e;
	opacity: 0.7;
}

/* ICONS  */
.fa-book-reader {
	color: #f9f6f2;
	font-size: 30px;
}

.fa-heart {
	font-size: 50px;
	color: white;
}
/* END ICONS */

/* NAVBAR */

.nav-left {
	background-color: #112d4e;
	opacity: 0.9;
	background-image: linear-gradient(#112d4e 95%, #f9f7f7);
	text-transform: uppercase;
	height: 60px;
	letter-spacing: 2px;
	font-weight: 300;
}

.nav-item {
	width: 120px;
	text-align: center;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.nav-item:hover {
	background-color: #dbe2ef;
	text-align: center;
}

.nav-item a {
	color: #f9f7f7;
	text-decoration: none;
}

.nav-item:hover a {
	background-color: #dbe2ef;
	text-align: center;
	color: #000000;
	text-decoration: none;
}

.nav-itemLogIn {
	margin: 5px 30px 0px 0px;
	width: 100px;
	height: 40px;
	text-align: center;
	border: 3px solid #112d4e;
	color: black;
	vertical-align: middle;
	padding: 3px;
}

.nav-itemLogIn:hover {
	color: #112d4e;
	background-color: #f9f7f7;
	border: 3px solid #112d4e;
	text-decoration: none;
}

.nav-itemRegister {
	margin: 5px 30px 0px 0px;
	width: 90px;
	height: 40px;
	text-align: center;
	border: 3px solid #112d4e;
	color: #ffffff;
	vertical-align: middle;
	padding: 3px;
	background-color: #112d4e;
}

.nav-itemRegister:hover {
	color: #202120;
	text-decoration: none;
}

/* END NAVBAR */

/* MAIN */

.main {
	height: 80vh;
	margin-top: 8vh;
	margin-left: auto;
	margin-right: auto;
}

.bookImg {
	height: 30vh;
	position: relative;
}

.bookInfo link {
	overflow:hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
}

.bookImg .link1 {
	height: 30vh;
	border: 1px solid blue;
	display: block;
	opacity: 1;
	position: absolute;
	width: 87%;
	top: 0px;
	opacity:0;
	background-color: #cca8e9;
}
.bookImg .link1:hover {
	opacity: 0.6;
}

img {
	height: 100%;
	transition: all 0.5s ease-in-out;
	left: 0px;
	top: 0px;
	position: relative;
	width: 100%;
	display:block;
}

.bookInfo {
	color: #112d4e;
	margin-bottom: 15px;
	padding: 0px;
}

.bookInfo h2 {
	color: #112d4e;	
	margin: 0px;
	padding-bottom: 3px;
	font-size: 20px;
	overflow:hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
	display: block; 
}

.bookInfo h3 {
	color: #112d4e;	
	margin: 0px;
	padding-bottom: 3px;
	font-size: 17px;
}
/* END MAIN */

/* FOOTER */
.footer {
   position: fixed;
   bottom: 0;
   background-color: #112d4e;
   color: white;
   display: flex;
   align-items: center;
   height: 4vh;
   justify-content: center;
   font-weight: 100;
}

.footer i:hover {
	cursor: pointer;
}

.footer a {
	color: white;
}

.footer a:hover {
	font-size: 10px;
	
}

/* END FOOTER */







