.a:hover {
	text-decoration: none;
}
.content-right {
	display: flex;
	border-left: 10px solid #d62f3d;
	justify-content: center;
}
.content-input {
	margin-top:50px;
}

.formError {
	color: #d62f3d;
}
.mainText {
	margin-top: 20px;
}
.nav-left {
	margin-top: 5px;
	background-color: #d62f3d;
}
.nav-right {
	background-color: #ffffff;
}
.nav-itemLeft {
	width: 90px;
	text-align: center;
}
.nav-itemLeft {
	width: 90px;
	text-align: center;
}
.nav-itemCheck {
	margin: 5px 30px 0px 0px;
	width: 150px;
	height:40px;
	text-align: center;
	border: 3px solid #d62f3d;
	color: #d62f3d;
	vertical-align: middle;
	padding:3px;
}
.nav-itemCheck:hover {
	color:#ffffff;
	background-color: #d62f3d;
	border: 3px solid #ffffff;
	text-decoration: none;
}
.nav-itemLogIn {
	margin: 8px 30px 0px 0px;
	width: 90px;
	height:40px;
	text-align: center;
	background-color: #ffffff;
	color: #202120;
	vertical-align: middle;
	padding:3px;
}
.nav-itemLogIn:hover {
	color: #d62f3d;
	text-decoration: none;
}
.nav-itemRegister {
	margin: 5px 30px 0px 0px;
	width: 90px;
	height:40px;
	text-align: center;
	border: 3px solid #ffffff;
	color: #ffffff;
	vertical-align: middle;
	padding:3px;
	background-color: #d62f3d;
}
.nav-itemRegister:hover {
	color: #202120;
	text-decoration: none;
}
.nav-linkRight {
	color: #ffffff;
}
.nav-linkRight:hover {
	color: #202120;
	text-decoration: none;
}

.nav-linkLeft {
	color: #d62f3d;
}
.submitButton {
	color: #ffffff;
	background-color: #202120;
	height:50px;
	width:200px;
}
.submitButton:hover {
	color: #d62f3d;
}
