.container-fluid {
	height: 100vh;
	font-family: 'Roboto', sans-serif;
	color: #112d4e;
}
.leftSide {
	background-color: white;
	height: 100vh;
	display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.rightSide {
	background-image: url("../images/other/books.jpg");
	height: 100vh;
}

.rightSide img {
	opacity: 0.5;
}


h1 {
	font-weight: 300;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-bottom: 2vh;
}

.form {
	margin-top: -30vh;
}

.btn-primary {
	background-color: #112d4e;;
}

.fa-book-open {
	font-size: 10vh;
	margin-bottom: 2vh;
}

.leftSide p {
	 font-style: italic;
	 font-weight: 100;
	 font-size: 1.5vh;
}

.inlineFormInputGroupUsername {
	width: 50px;
}


