
.container {
	background-color: #f9f7f7;
}

/* ICONS */

.fa-book-reader {
	color: #f9f6f2;
	font-size: 30px;
}
/* END ICONS */

/* MAIN */
.main {
	
	height: 75vh;
	margin-top: 50px;
}

.rating {
	border: 1px solid red;
}

.leftSide {

	height: 45vh;
}
.rightSide {
	border: 1px solid red;
	height: 75vh;
}

.title {
	border: 1px solid red;
	height: 15vh;
	justify-content:center;
	display:flex;
	align-items:center;
}

.leftSide img {
	height: 100%;
	width: 100%;
	left: 0px;
	top: 0px;
	position: relative;
	display:block;
}

/* END MAIN */

/* NAVBAR */
.nav-left {
	background-color: #112d4e;
	opacity: 0.9;
	background-image: linear-gradient(#112d4e 95%, #f9f7f7 );
	text-transform: uppercase;
	height: 60px;
}

.nav-item {
	width: 120px;
	text-align: center;
	height: 60px;
	display: flex;
    align-items: center; 
    justify-content: center; 
    cursor: pointer;
}
.nav-item:hover {
	background-color: #dbe2ef;
	text-align: center;
}

.nav-item a {
	color: #f9f7f7;
	text-decoration: none;
	
}
.nav-item:hover a {
	background-color: #dbe2ef;
	text-align: center;
	color: #000000;
	text-decoration: none;
}


.nav-itemLogIn {
	margin: 5px 30px 0px 0px;
	width: 100px;
	height: 40px;
	text-align: center;
	border: 3px solid #112d4e;
	color: black;
	vertical-align: middle;
	padding: 3px;
}

.nav-itemLogIn:hover {
	color: #112d4e;
	background-color: #f9f7f7;
	border: 3px solid #112d4e;
	text-decoration: none;
}

.nav-itemRegister {
	margin: 5px 30px 0px 0px;
	width: 90px;
	height: 40px;
	text-align: center;
	border: 3px solid #112d4e;
	color: #ffffff;
	vertical-align: middle;
	padding: 3px;
	background-color: #112d4e;
}

.nav-itemRegister:hover {
	color: #202120;
	text-decoration: none;
}

/* END NAVBAR */

/* FOOTER */

footer {
  position: absolute;
  right: 15px;
  bottom: 10px;
  left: 15px;
  background-color: #420000;
  text-align: center;
  height: 40px;
}

.rightFooter {
	margin-top: 5px;
	color: white;
	height:40px;
}
.social-icons {
	text-align: center;
	font-size: 30px;
	color:white;
	margin-right: 20px;
	margin-top:5px;
	cursor: pointer;
}
.social-icons:first-child {
	margin-left:15px;
}

.social-icons:hover {
	animation: shake 0.5s; 
	animation-iteration-count: infinite; 
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/* END FOOTER */

