<!DOCTYPE html>
<html>
<head>
<title th:inline="text"></title>
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
	integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
	crossorigin="anonymous" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
<link th:href="@{/css/authors.css}" rel="stylesheet" />
<script src="js/custom1.js"></script>
<script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
<style>
@import
	url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap')
	;
</style>
</head>

<body>

	<div class="container-fluid">
		<header>
			<div class="col lg-12 bar"></div>
			<div class="row">

				<div class="col-lg-6 navbar">
					<ul class="nav nav-tabs">
						<li class="nav-item"><a class="nav-link active" th:href="@{/books}"><i
								class="fas fa-book-open"></i> Books</a></li>
						<li class="nav-item"><a class="nav-link" th:href="@{#}"><i
								class="fas fa-user-edit"></i> Authors</a></li>
						<li class="nav-item"><a class="nav-link" th:href="@{/top}"><i
								class="fas fa-trophy"></i> Top</a></li>
						<li class="nav-item"><a class="nav-link"
							th:href="@{/categories}"><i class="fas fa-atlas"></i> Categories</a></li>
						</li>
					</ul>
				</div>
				<div class="col-lg-6 navbar right">
					<ul class="nav nav-tabs">
						<li class="nav-item"><a class="nav-link" href="#"><i
								class="fas fa-user"></i> <span sec:authentication="name"></span></a></li>
						<li class="nav-item"><a class="nav-link"
							href="javascript: document.logoutForm.submit()"><i
								class="fas fa-sign-out-alt"></i> Logout</a></li>
						<form name="logoutForm" th:action="@{/logout}" method="post"
							th:hidden="true"> <input hidden type="submit" value="Sign Out" />
						</form>
					</ul>
				</div>
			</div>

			<div class="col-lg-12 logo">
				<img th:src="@{/images/other/authors.png}" alt="Italian Trulli">
			</div>

		</header>



		<main>
			<div class="col-lg-12 content">
				<div class="col-lg-4 title">Authors</div>
				<div class="row">
					<div class="col-lg-2" th:each="singleAuthor : ${authors}">
						<div class="col-lg-12 bookImg">
							<a><img
								th:src="@{'/images/authors/' + ${singleAuthor.images}}" /></a> 
								<a
								class="imageLink" th:href="@{/authors/{id}/{name} (id=${singleAuthor.id}, name=${singleAuthor.name}) }"></a>
						</div>
						<div class="col-lg-12 authorInfo">
							<a class="link"
								th:href="@{/authors/{id}/{name} (id=${singleAuthor.id}, name=${singleAuthor.name}) }">
								<span th:inline="text">
									<h2>
										<strong>[[${singleAuthor.name}]]</strong>
									</h2>
							</a> <i class="fas fa-heart"></i> Followers | <i
								class="fas fa-book-open"></i> Readers
						</div>
					</div>
				</div>
			</div>
		</main>
		<div class="col-lg-12 pag">
			<ul class="pagination">
				<li class="page-item"><a class="page-link"
					th:if="${currentPage} > 0"
					th:href="@{/books/(page=${currentPage -1})}" aria-label="Previous">
						<span aria-hidden="true">&laquo;</span>
				</a></li>
				<li class="page-item"
					th:each="i : ${#numbers.sequence(0,authors.totalPages-1)}"><a
					class="page-link" th:href="@{/authors/(page=${i})}" th:text="${i}"
					th:classappend="${currentPage}==${i}? 'active' : ''"></a></li>

				<li class="page-item"><a class="page-link"
					th:if="${currentPage} < ${authors.totalPages} -1"
					th:href="@{/books/(page=${currentPage +1})}" aria-label="Next">
						<span aria-hidden="true">&raquo;</span>
				</a></li>
			</ul>
		</div>

		<footer>
			<div class="col-lg-12 footer">
				<a th:href="@{https://www.facebook.com/patryk.barczewski.5}"><i
					class="fab fa-facebook-f"></i></a> <a
					th:href="@{http://www.instagram.com/patryk_barczewski5}"><i
					class="fab fa-instagram"></i></a> &copy; Patryk Barczewski <a
					th:href="@{https://www.linkedin.com/in/patryk-barczewski-57b7a7144/}"><i
					class="fab fa-linkedin-in"></i></a> <a
					th:href="@{https://github.com/pbarczewski}"><i
					class="fab fa-github"></i></a>
			</div>

		</footer>

		<div class="col lg-12 bar"></div>
	</div>


</body>
</html>