<!DOCTYPE html>
<html>
<head>
<title th:inline="text">[[${author.name}]]</title>
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
	integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
	crossorigin="anonymous" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
<link th:href="@{/css/authorCard.css}" rel="stylesheet" />
<script src="js/custom1.js"></script>
<script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
<style>
@import
	url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap')
	;
</style>
</head>

<body>

	<div class="container-fluid">
		<header>
			<div class="col lg-12 bar"></div>
			<div class="row">

				<div class="col-lg-6 navbar">
					<ul class="nav nav-tabs">
						<li class="nav-item"><a class="nav-link active" href="#"><i
								class="fas fa-book-open"></i> Books</a></li>
						<li class="nav-item"><a class="nav-link"
							th:href="@{/authors}"><i class="fas fa-user-edit"></i>
								Authors</a></li>
						<li class="nav-item"><a class="nav-link" th:href="@{/top}"><i
								class="fas fa-trophy"></i> Top</a></li>
						<li class="nav-item"><a class="nav-link"
							th:href="@{/categories}"><i class="fas fa-atlas"></i> Categories</a></li>
						</li>
					</ul>
				</div>
				<div class="col-lg-6 navbar right">
					<ul class="nav nav-tabs">
						<li class="nav-item"><a class="nav-link" href="#"><i
								class="fas fa-user"></i> <span sec:authentication="name"></span></a></li>
						<li class="nav-item"><a class="nav-link"
							href="javascript: document.logoutForm.submit()"><i
								class="fas fa-sign-out-alt"></i> Logout</a></li>
						<form name="logoutForm" th:action="@{/logout}" method="post"
							th:hidden="true"> <input hidden type="submit" value="Sign Out" />
						</form>
					</ul>
				</div>
			</div>



		</header>



		<main>
			<div class="col-lg-12 content">
				<div class="col-lg-10 authorCard">

					<div class="row">
						<div class="col-lg-4 leftSide">
							<img alt="${author.images}"
								th:src="@{'/images/authors/' + ${author.images}}" />
						</div>

						<div class=" col-lg-8 rightSide">

							<div class=" col-lg-12 authorName">
								<h1 th:inline="text">[[${author.name}]]</h1>
							</div>

							<div class="col-lg-12 authorInfo">
								<h2 th:inline="text">Birth date: [[${author.birth_date}]]</h2>

								<h3 th:inline="text">Nationality: [[${author.nationality}]]</h3>
								</a>
								<h4 th:inline="text">Books: [[${author.getBooks().size()}]]</h4>
								<hr>
								<p th:inline="text">[[${author.description}]]</p>
							</div>



						</div>

					</div>

				</div>
			</div>
		</main>
		<div class="col-lg-12 pag">
			<ul class="pagination">

			</ul>
		</div>

		<div class="col-lg-12 authorBooks">
			<p th:inline="text">Books written by [[${author.name}]]</p>
			<div class="row">
				<div th:each="book : ${author.books}" class="col-lg-2 singleBook">
					<div class="col-lg-12 image">
						<img alt="${book.images}" th:src="@{'/images/' + ${book.images}}" />
						<a class="imageLink"
							th:href="@{/books/{id}/{title} (id=${book.id}, title=${book.title}) }"></a>
					</div>
					<div class="col-lg-12 bookTitle" th:inline="text">[[${book.title}]]</div>
				</div>
			</div>



		</div>

		<div class="col-lg-12 pag">
			<ul class="pagination">

			</ul>
		</div>

		<footer>
			<div class="col-lg-12 footer">
				<a th:href="@{https://www.facebook.com/patryk.barczewski.5}"><i
					class="fab fa-facebook-f"></i></a> <a
					th:href="@{http://www.instagram.com/patryk_barczewski5}"><i
					class="fab fa-instagram"></i></a> &copy; Patryk Barczewski <a
					th:href="@{https://www.linkedin.com/in/patryk-barczewski-57b7a7144/}"><i
					class="fab fa-linkedin-in"></i></a> <a
					th:href="@{https://github.com/pbarczewski}"><i
					class="fab fa-github"></i></a>
			</div>

		</footer>

		<div class="col lg-12 bar"></div>
	</div>


</body>
</html>